.Rproj.user
.Rhistory
.RData
.Ruserdata
Data Analysis/Participant Information/File Inventories.xlsx
Data Analysis/Participant Information/Sensor_Effects_Participants_Lab_Version.csv
.DS_Store
Preliminary Analyses/SensorEffects_prelim_analyses.html
*.wav
Block lists/
Raw_Speaker_Data/
Data_Analysis/sensor_effects_analysis.html
Raw_Perceptual_Data/
Listener_demographics/
Data_Analysis/Figures/
Data_Analysis/Data/rawData
Data_Analysis/Data/cleanData/formantData
Data_Analysis/old
`Data_Analysis/Participant Information`
`Data_Analysis/Manuscript/Submission 1`
Data_Analysis/Manuscript/`Submission 1`

Data_Analysis/Tables/speaker_demo.html
