.Rproj.user
.Rhistory
.RData
.Ruserdata
Data Analysis/Participant Information/File Inventories.xlsx
Data Analysis/Participant Information/Sensor_Effects_Participants_Lab_Version.csv
.DS_Store
Preliminary Analyses/SensorEffects_prelim_analyses.html
*.wav
